*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-weight: 800;
  scroll-behavior: smooth;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
  -ms-overflow-style: none;

}

body{
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  perspective: 1200vw;

}
@keyframes ball-ani {
  0%{
    transform: rotate(0);
  }
  25%{
    transform: rotate(90deg);
  }
  50%{
    transform: rotate(180deg);
  }
  75%{
    transform: rotate(270deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes box-ani {
  0%{
    transform: translateZ(1000vw);
  }
  33%{
    transform: translateZ(600vw);
  }
  66%{
    transform: translateZ(200vw);
  }
  100%{
    transform: translateZ(-200vw);
  }
}
.line{
  width: 100%;
  height: 100px;
  display: flex;


}
.red{
  width: 100px;
  height:100px;
  background-repeat: no-repeat;
  background-image: url(redone.png);
  background-size: contain;
  animation: ball-ani 4s infinite;

}
.black0{
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-image: url(blackone.png);
  background-size: contain;
  animation: ball-ani 4s infinite;
  animation-delay: 3s;
}
.black1{
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-image: url(redone.png);
  background-size: contain;
  animation: ball-ani 4s infinite;
  animation-delay: 4s;
}
.black2{
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-image: url(blackone.png);
  background-size: contain;
  animation: ball-ani 4s infinite;
  animation-delay: 5s;
}
.black3{
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-image: url(redone.png);
  background-size: contain;
  animation: ball-ani 4s infinite;
  animation-delay: 6s;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateZ(1000vw);
  animation: box-ani 6s forwards;
  animation-delay: 5s;
}
/* nav{
  position: fixed;
  top: 10px;
  right: 600px;
  margin: 30px;
  border: 2px solid red;
  width: 70px;
  height: 500px;
}
ul{
margin: 10px;
}
.ball{
  width: 30px;
  height: 30px;
  background: red;
  border-radius: 50%;
  margin: 30px auto;
}
.top:hover body{
  transform: translateZ(-200px);
} */
